@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .fade-in {
    animation: fadeIn 0.5s ease-out forwards;
  }
  
.transition-max-height {
    transition: max-height 0.5s ease-in-out;
  }
  .writing-mode-vertical {
    writing-mode: vertical-rl;
    text-orientation: mixed;
}